[class *="col"] {
    min-height: 50px;
    border: 1px solid #ffff;
    background-color: #006cf9;
    text-align: center;
    line-height: 50px;
    color: white;
}

.margin-top {
    margin-top: 25px;
}

.padding {
    padding: 20px;
}

.padding div {
    background-color: #1bff00;
    border-color: #006cf9;
}

.center {
    justify-content: center;
}

.end {
    justify-content: flex-end;
}

.height-100 {
    min-height: 100px;
}

.top,
.middle,
.bottom {
    height: 50px;
}

.middle {
    align-self: center;
}

.bottom {
    align-self: flex-end;
}